.Ghost {
    padding-top: 20px;
}

.Left {
    width: 68px;
    margin-right: 80px;
}

.leftSeat {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    width: 68px;
    height: 38px;
    margin-left: 35px;
    padding-top: 0px;
    padding-right: 0px;
    align-items: center;
    box-sizing: content-box;  
}

.Labtop {
    border: 1px solid black;
    width: 132px;
    height: 257px;
    margin-top: 28px;
    align-items: center;
    box-sizing: content-box;  
}

.Middle {
    width: 160px;
    margin-right: 0px;
}

.middleSeat {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    width: 38px;
    height: 68px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    align-items: center;
    box-sizing: content-box;  
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

.Right {
    width: 68px;
    margin-right: 0px;
}

.rightSeat {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    width: 68px;
    height: 38px;
    margin-left: 17px;
    padding-top: 0px;
    padding-right: 0px;
    align-items: center;
    box-sizing: content-box;  
    
}