/* SecondFloor.css */
.reserve {
    color: #8f8f8f;
    font-family: "Inter-Black", Helvetica;
    font-size: 24px;
    font-weight: 900;
    line-height: normal;
    width: 369px;
    height: 44px;
    padding-top: 54px;
    padding-left: 46px;
    text-align: left;
    box-sizing: content-box;
  }

.modal {
    display: block; /* 모달을 보이게 설정 */
    position: fixed; /* 모달을 화면 중앙에 고정 */
    z-index: 1; /* 다른 요소들보다 앞에 보이게 설정 */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; /* 스크롤 가능하게 설정 */
    background-color: rgba(0, 0, 0, 0.4); /* 배경을 어둡게 설정 */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 화면 중앙에 위치하게 설정 */
    padding: 20px;
    border: 1px solid #888;
    width: 387px;
    height: 675px; 
  }
  
  .close {
    color: #aaa;
    position: absolute; /* 절대 위치 */
    top: 10px; /* 상단에서의 위치 */
    right: 20px; /* 오른쪽에서의 위치 */
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  

.Ghost {
    padding-top: 20px;
}

.Left {
    width: 68px;
    margin-right: 80px;
}

.leftSeat {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    width: 68px;
    height: 38px;
    margin-left: 35px;
    padding-top: 0px;
    padding-right: 0px;
    align-items: center;
    box-sizing: content-box;  
}

.Labtop {
    border: 1px solid black;
    width: 132px;
    height: 257px;
    margin-top: 28px;
    align-items: center;
    box-sizing: content-box;  
}

.Middle {
    width: 162px;
    margin-right: 0px;
}

.middleSeat {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    width: 38px;
    height: 68px;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    align-items: center;
    box-sizing: content-box;  
    writing-mode: vertical-lr;
    text-orientation: mixed;
}

.Right {
    width: 68px;
    margin-right: 0px;
}

.rightSeat {
    color: #000000;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    width: 68px;
    height: 38px;
    margin-left: 17px;
    padding-top: 0px;
    padding-right: 0px;
    align-items: center;
    box-sizing: content-box;  
    
}